<header id="header">
  <div class="header-block-top">
    <div class="container">
      <div class="header-row row-stack">
        <ul class="header-social-icons social-icons d-none d-sm-block">
          <li class="social-icons-facebook">
            <a href="http://www.facebook.com/" target="_blank" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="social-icons-twitter">
            <a href="http://www.twitter.com/" target="_blank" title="Twitter">
              <i class="fa fa-play-circle-o"></i>
            </a>
          </li>
          <li class="social-icons-linkedin">
            <a href="http://www.linkedin.com/" target="_blank" title="Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <nav class="header-nav-top top-menu">
          <ul class="nav nav-pills">
            <li class="nav-item d-none d-sm-block">
              <a class="nav-link" href="#">Affiliate program</a>
            </li>
            <li class="nav-item d-none d-sm-block">
              <a class="nav-link" href="#">Careers</a>
            </li>
            <li class="nav-item d-none d-sm-block">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item d-none d-sm-block">
              <a class="nav-link" href="#">Register</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header-body">
    <div class="header-container container">
      <div class="header-row row-stack">
        <div class="header-logo">
          <a href="#">
            <img alt="Porto" width="160" data-sticky-width="82" data-sticky-top="33" src="../../../assets/img/logo.png">
          </a>
        </div>
        <div class="header-column justify-content-end">
          <div class="header-row">
            <div class="header-nav">
              <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                <nav class="collapse">
                  <ul class="nav nav-pills" id="mainNav">
                    <li class="active">
                      <a class="nav-link" href="#">
                        HOME
                      </a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="#">
                        FEATURES
                      </a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="#">
                        PRICING
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle" href="#">
                        PRODUCT
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#"> Download app </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"> Documentation </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"> Release Notes </a>
                        </li>
                      </ul>
                    </li>
                    <li class="">
                      <a class="nav-link" href="#">
                        FAQ
                      </a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="#">
                        TEAM
                      </a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="#">
                        CONTACT US
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
