<div class="slider-container rev_slider_wrapper">
  <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 500, 'gridheight': 600, 'responsiveLevels': [4096,1200,992,500]}">
    <ul>
      <li data-transition="fade">


        <div class="rs-background-video-layer"
             data-forcerewind="on"
             data-volume="mute"
             data-videowidth="100%"
             data-videoheight="100%"
             data-videomp4="../../assets/video/rain.mp4"
             data-videopreload="preload"
             data-videoloop="loop"
             data-forceCover="1"
             data-aspectratio="16:9"
             data-autoplay="true"
             data-autoplayonlyfirsttime="false"
             data-nextslideatend="false"
        ></div>

        <div class="container">
          <div class="tp-caption top-label"
               data-x="0%" data-hoffset="-200"
               data-y="" data-voffset="-95"
               data-start="1000"
               data-transform_in="y:[-300%];opacity:0;s:500;">World’s Best Pokers Support Software Provider</div>

          <div class="tp-caption bottom-label "
               data-x="0%"
               data-y="" data-voffset="-95"
               data-start="1500"
               data-transform_in="y:[-300%];opacity:0;s:500;">
            <ul class="fa-ul access-custom">
              <li ><i class="fa-li fa fa-check"></i>Enjoy the most fun with your games
              </li>
              <li ><i class="fa-li fa fa-check"></i>Play on Target-Oriented Tables
              </li>
              <li ><i class="fa-li fa fa-check"></i>Multi-pokers, Multi-tables
              </li>
              <li ><i class="fa-li fa fa-check"></i>Maximize money, Optimize your strategy
              </li>
              <li ><i class="fa-li fa fa-check"></i>24/7 Technical Support
              </li>

            </ul>
          </div>


          <div class="tp-caption "
               data-hash
               data-hash-offset="85"
               href="#home-intro"
               data-x="0%" data-hoffset="0"
               data-y="bottom" data-voffset="80"
               data-start="2200"
               data-whitespace="nowrap"
               data-fontsize="['22','22','22','32']"
               data-transform_in="y:[100%];s:500;"
               data-transform_out="opacity:0;s:500;"
               style="z-index: 5,margin-left: 80px,"
               data-mask_in="x:0px;y:0px;">
            <app-button [class]="'custom-btn-poker primary-color'">DOWNLOAD</app-button>
          </div>
         <div class=" tp-caption"
              data-hash
              data-hash-offset="85"
              href="#home-intro"
              data-y="bottom" data-voffset="80"
              data-start="2200"
              data-whitespace="nowrap"
              data-fontsize="['22','22','22','32']"
              data-transform_in="y:[100%];s:500;"
              data-transform_out="opacity:0;s:500;"
              style="z-index: 5"
              data-mask_in="x:0px;y:0px;">
         <app-button [class]="'custom-btn-poker second-color'">GET STARTED</app-button>
         </div>
        </div>




      </li>
    </ul>
  </div>
</div>

<div class="home-intro" id="home-intro">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-8">
        <p>
          The fastest way to grow your business with the leader in <em>Technology</em>
          <span>Check out our options and features included.</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="get-started text-left text-lg-right">
          <a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
          <div class="learn-more">or <a href="index.html">learn more.</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
